@model List<GetProductsQueryResult>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<h3>Ürünler</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ürün Resmi</th>
        <th>Ürün Adı </th>
        <th>Ürün Fiyatı </th>
        <th>Ürün Kategorisi </th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" class="img-thumbnail" /></td>
            <th>@item.ProductName</th>
            <th>@item.ProductPrice</th>
            <th>@item.Category.CategoryName</th>
            <td>
                <a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
                <a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>
<a href="/Admin/Product/CreateProduct/" class="btn btn-primary mt-2">Yeni Ürün Ekle</a>


